<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>xyz.tea.BASE.dotfile-sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>$PREFPANE/Contents/Scripts/dotfile-sync.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>600</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>$HOME/Library/Logs/teaBASE/dotfile-sync.stdout.txt</string>
	<key>StandardErrorPath</key>
	<string>$HOME/Library/Logs/teaBASE/dotfile-sync.stderr.txt</string>
</dict>
</plist>
